.supdiv{
   background-image: linear-gradient(to right, #f5f2f7, #bebebe, #a8a6a6, #dcdcdd, #f9f9f9);
   background-repeat: no-repeat;

   margin: auto;
    width:1200px;
    height:500px;
    border-radius: 10px;
    z-index:-1; 
    margin-top: 200px;
  box-shadow: 0px 8px 16px 0px rgba( 2,0.3,2,0.3);
}

#supform
{
    margin-top: 60px;
    text-align: center;
    display: block;
 
}
#supbutons
{
    width:auto;
    display: flex;
    margin: 10px;

}
#uplink{

    width:150px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(to right, #434343 0%, black 100%);
    margin: auto;
    margin-top: 20px;

}
#dellink{
   
    background: linear-gradient(to right, #434343 0%, black 100%);
    margin: auto;
    width:150px;
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;

}
#dellink a{
    position: absolute;
    text-decoration: none;
    margin-top: 6px;
    color:rgb(255, 255, 255);
    
    margin-left: -19px;
}
#uplink a{
    position: absolute;
    text-decoration: none;
    margin-top: 6px;
    margin-left: -19px;
    color:rgb(255, 255, 255);

}
#sbtn
{
    width:150px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}


#Sec{
    width:1500px;
    height:1500px;
    
    justify-content: center;
    
}

#sel{
    margin-top:auto;
    size: 12;
}


input{
    display: block;

    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: solid rgba(173, 216, 230, 0.733);
    position: relative;
    width:500px;
    height:35px;
    color:black;
}
label{
    display:block;
    margin-left:auto;
    margin-right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   display:block;
   position: absolute;
   color:black;
 
}

h1{
    margin-top: -85px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: black;

}
body{

    background-color: rgb(255, 255, 255);
  
}


table{

    margin-top: 40px;
    border-collapse: collapse;
    /* border:1.5px solid black; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -moz-border-radius: 5px !important;
    border: none !important;
    
    
   


}


#supplier_table
{
    text-align: center;
    font-size: 20px;
}

#addhead
{
    text-align: center;

}


th,td{
    border:1px solid black;
    width:170px;
    height: 45px;
    text-justify: auto;
    text-align: center;
   
}
th{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height: 50px;
    font-weight: 400;

}
   
    


    

.message2{
    position: sticky;
   margin-top:80px;
    margin-left: auto;
    margin-right: auto;
width:auto;
    background-color: rgb(224, 224, 224);
    padding:2rem;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    gap:1.5rem;
 }
 
 .message2 span{
    font-size: 1.2rem;
  
    margin: auto;
    margin-left: 100px;

    
 }
 
 .message2 .RICON{
    cursor: pointer;
    color:red;
    font-size: 1.2rem;
    font-style: normal;
    margin: auto;
    margin-left: 400px;
 }
 
 .message2 .RICON:hover{
    transform: rotate(90deg);
 }
  